/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: .75em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    z-index: 0;
    margin: 0;
    font-family: 'Josefin Sans';
}

/*
body.page-80 .header,
body.page-80 .footer { 
    background-color: rgb(22, 105, 135);
}
body.page-80 .header { 
    color: rgb(22, 105, 135);
}*/

/*  ===========================
            THE GRID
    =========================== */

.gdcenter {
    width: 940px;
    margin: 0 auto;
}

.gdcenter > div.col12 {
    border-top: 1px solid rgb(217, 186, 64);
}

div.first-block {
    border-top: 1px solid white;
}

#main-content{
    margin-top: 2em;
}

.row {
    width: 100%;
    float: left;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11 {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.col1 {
    width: 60px;
}

.col2 {
    width: 140px;
}

.col3 {
    width: 220px;
}

.col4 {
    width: 300px;
}

.col5 {
    width: 380px;
}

.col6 {
    width: 460px;
}

.col7 {
    width: 540px;
}

.col8 {
    width: 620px;
}

.col9 {
    width: 700px;
}

.col10 {
    width: 780px;
}

.col11 {
    width: 860px;
}

.col12 {
    width: 940px;
    float: left;
    margin-bottom: 20px
}

.last {
    margin-right: 0;
    float: right;
}

/*  ===========================
            NAVIGATION
    =========================== */

.border {
    height: .75em;
    border-bottom: 5px solid rgb(169, 28, 69);
}

.grey {
    color: #bbb;
}

.red {
    /*background-color: rgb(169, 28, 69);*/
}

.red-text {
    color: rgb(169, 28, 69);
}

.grey-text {
    color: rgb(83, 85, 87);
}

.yellow {
    background-color: rgb(217, 186, 64);
    padding-top: 7em;
    padding-bottom: 7em;
}

.bcaption {
    border: 4px solid #ccc;
    padding: 30px;
}

img#nav-mic {
width: 24px;
top: -2px;
border: 2px solid #bbb;
border-radius: 50%;
padding: 3px;
background-color: #ccc;
position: relative;
}

/*  ===============================================================
        NAV STYLES 
    =============================================================== */

#enter-button {
    float: left;
    clear: both;
    background-color: rgb(169, 28, 69);
    font-size: 42px;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    width: 96%;
    text-align: center;
}

.header {
    position: fixed;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 9px solid rgb(217, 186, 64);
    height: 4em;
    z-index: 6;
}

div#links {
    color: white;
}


div#bar {
    background-color: rgb(169, 28, 69);
    height: 5px;
}

ul.nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    position: relative;
    display: block;
    top: -53px;
    left: 275px;
}

ul.nav li {
    position: relative;
    height: 86px;
    width: 60px;
    float:left;
    margin-right: 20px;
    text-align: center;
    transition: .4s ease;
}

ul.nav li a {
    height: 40px;
    width: 40px;
    background-color: rgb(217, 186, 64);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
}

ul.nav li:hover {
    transform: scale(1.1);
}

li#current {
    /* Current container dimensions */
    height: 100px;
    width: 100px;
}

li#current a {
    /* Current circle dimensions */
    height: 80px;
    width: 80px;
}

ul.nav li a span {
    font-style: italic;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    bottom: 50%;
    top: 10px;
    font-weight: 700;
}

#current span {
    font-size: 38px;
    top: 15px;
}

div#links {
    color: white;
    font-size: 24px;
    margin-top: 11px;
    margin-left: 12px;
}

div#links a {
    color: white;
    text-decoration: none;
    transition: .75s;
}

div#links a:hover {
    color: rgb(217, 186, 64);
    text-decoration: none;
}

/*  =================================
            COMIC TABS
    ================================= */

.comic-tab-wrap {
    text-align: center;
}

.comic-tab {
    display: inline-block;
    border: 3px solid grey;
    border-radius: 70px;
    transition: all 1s ease;
    cursor: pointer;
}

.comic-tab:hover {
    transform: scale(1.05);
    color: white;
}

.comic-tab img {
    height: 46px;
    width: auto;
}

.comic-tab div {
    float:left;
}

.comic-tab div.mic-wrap {
    border: 3px solid #AAA;
    background-color: #ccc;
    border-radius: 50%;
    padding: 10px;
}

.comic-tab div.tab-text {
    margin-top: 10px;
    padding-right: 24px;
    padding-left: 12px;
    color: #ccc;
    text-align: left;
}

.comic-tab h2 {
    margin: 0 auto;

}

.comic-tab h3 {
    margin: 0 auto;
}

.comic-tab p {
    margin: 0 auto;
}

/*  ===========================================================
        FOOTER STYLE 
    ========================================================== */

.footer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.footer .caption {
    position: absolute;
    top: 0;
    color: white;
    background-color: rgba(153, 153, 153, 0.55);
    right: 0;
}

.footer a div {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(217, 186, 64, 0.88);
    border-top: 5px solid rgb(217, 186, 64);
}

.quote {
    background-color: rgb(66, 66, 66);
    color: white;
    font-size: 2em;
    line-height: normal;
    font-family: 'Arvo';
    font-weight: bold;
    font-style: italic;
    padding: 15px;
    border-left: 4px solid grey;
    box-shadow: 4px 4px 3px 0px #ccc;
    margin-bottom: 1em;
}

/*  =================================
            COMIC GRID
    ================================ */



/*  =================================
            IMAGES
    ================================ */
img {
    width: 100%;
}

#improv {
height: 73px;
width: auto;
}

#comedy-store {
height: 170px;
width: auto;
}

#tv-icon {
height: 89px;
width: auto;
}

#carlin-img {
    background-image: url(../img/george-carlin.jpg);
    width: 100%;
    height: auto;
}

#just-laughs {
width: 50%;
display: block;
margin: auto;
margin-top: 4em;
}


/*  =====================================================
                        TYPOGRAPHY
    ===================================================== */

/*  =========================
            HEADER 1
    ========================= */

h1 {
    font-size: 5.0em;
    line-height: 84px;
    color: rgb(82, 82, 82);
    margin: 0;
}

.footer h1 {
text-align: center;
margin: 0;
}

h1 span {
font-style: italic;
}

.col12 h1 {
margin: .3em 0em;
}

div.col12.first {
    border-top: none;
    margin-top: 4em;
}

/*  =========================
            HEADER 2
    ========================= */

h2 {
    font-size: 4.0em;
    margin-bottom: 1;
    color: rgb(55, 55, 55);
}

/*  =========================
            HEADER 3
    ========================= */

.yellow h3 {
    font-size: 3em;
}

h3 {
    font-size: 2.0em;
    margin: 0;
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.2em;
}

h3.video-title {
margin: 0;
background-color: rgb(217, 186, 64);
display: inline-block;
padding: 4px 15px;
padding-top: 7px;
}

h3.open-box {
border-top: 3px solid #E7E7E7;
border-bottom: 3px solid #E7E7E7;
padding: 0.6em 0;
padding-left: 0.3em;
}

/*  =========================
            PARAGRAPH
    ========================= */
p {
font-size: 1.5em;
margin: 0;
margin-bottom: 1em;
font-family: 'Roboto';
-webkit-font-smoothing: antialiased;
letter-spacing: 0;
}

p.f-caption {
font-size: 1.2em;
font-style: italic;
margin-top: 1em;
border-top: 1px solid rgb(216, 216, 216);
padding-top: 1em;
letter-spacing: 0;
line-height: 1.2em;
text-align: left;
}

p.s-caption {
font-style: italic;
padding-left: 1em;
border-left: 1px solid rgb(216, 216, 216);
}

/* ==============================
            COMIC GRID
   ============================== */
.comic-grid div {
    position: relative;
    height: 220px;
    margin-bottom: 5em;
}

.comic-grid div div {
    position: absolute;
    background-color: #ccc;
    width: 210px;
    height: 210px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: all .2s ease;
}

.comic-grid div div:hover {
height: 220px;
width: 220px;
}

.comic-grid div div span {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -44px;
    font-size: 2em;
    padding-top: .2em;
    color: rgb(169, 28, 69);
}

#home ul.nav {
    left: 154px;
    right: 15px;
    top: -15px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
